@font-face {
    font-family: gilroy;
    src: url(./fonts/Gilroy-Regular.ttf);
}
@font-face {
    font-family: antic;
    src: url(./fonts/Antic-Regular.ttf);
}

body{
    background-color: #F4F4F4;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-family: gilroy;
    padding: 0 26px
}

.menu_out{
    display: flex;
    border: 1px solid black;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    line-height: 40px;
    background-color: black;
    border-right: 0;
}

.menu_in{
    padding-left: 20px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    background-color: #F5FF7D;
}

.menu_top{
    display: flex;
}

.menu_out_middle{
    display: flex;
    border: 1px solid black;
    line-height: 40px;
    background-color: black;
    border-right: 0;
    border-left: 0;
}

.menu_in_middle{
    background-color: white;
}

.menu_out_end{
    display: flex;
    border: 1px solid black;
    line-height: 40px;
    background-color: black;
    border-left: 0;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.menu_in_end{
    background-color: white;
    padding-right: 20px;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
}

.top_area_title{
    font-family: Antic;
    font-size: 54px;
    color: black;
    text-shadow: 3px 5px #00000021;
    width: 72%; 
    margin-left: 50px;
}

.top_area{
    position: relative;
    height: 292px;
}

.top_girl{
    position: absolute;
    right: 51px;
    top: 12px;
    width: 295px;
}

.register_btn{
    font-family: 'gilroy';
    font-size: 15px;
    background-color: #F5FF7D;
    border: 1px solid black;
    border-radius: 16px;
    padding: 5px 16px;
    padding-right: 29px;
    background-image: url(./assets/arrow.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 76px 6px;
    margin-left: 50px;
    margin-top: 50px;
}

.prodact_cont_in{
    background-color: black;
    width: 100%;
    height: 600px;
    color: #FFFFFF;
}

.prodact_cont_in{
    background-color: black;
    width: 100%;
    height: 600px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}

.center_white{
    margin: 0 auto;
    position: relative;
    display: block;
}

.prodact_cont_in_text{
    margin-left: 17px;
    margin-top: -12px;
    font-size: 28px;
    font-family: 'antic';
    text-transform: uppercase;
}

.prodact_cont_yellow{
    background-color: #F5FF7D;
    height: 529px;
    margin: 0 auto;
    width: 97%;
    border-radius: 45px;
    margin-top: 10px;
}

.yellow_cont{
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    text-transform: uppercase;
}

.yellow_cont_title{
    font-family: 'antic';
    font-size: 61px;
    color: black;
}

.dots_img{
    width: 122%;
    height: 458px;
}

.yellow_cont_p{
    color: black;
    font-family: 'gilroy';
    margin-top: 14px;
    width: 90%;
    font-size: 14px;
    font-weight: bold;
}

.yellow_cont_imgs{
    display: flex;
    margin-top: 74px;
    color: black;
    gap: 74px;
}

.img1_num{
    font-weight: bold;
    font-family: 'gilroy';
    font-size: 21px;
    text-transform: lowercase;
    margin-top: 10px;
}

.img1_text{
    font-family: 'gilroy';
    text-transform: none;
    font-size: 10px;
    font-weight: bold;
    margin-top: 4px;
}

.img_2{
    margin-top: -4px;
}

.img2_num{
    font-weight: bold;
    font-family: 'gilroy';
    margin-left: 20px;
    font-size: 22px;
    margin-top: 2px;
}

.img2_text{
    font-family: 'gilroy';
    text-transform: none;
    font-size: 10px;
    font-weight: bold;
    margin-top: 4px;
}

.img3_num{
    font-weight: bold;
    font-family: 'gilroy';
    margin-left: 20px;
    font-size: 22px;
}

.img3_text{
    font-family: 'gilroy';
    text-transform: none;
    font-size: 10px;
    font-weight: bold;
    margin-top: 4px;
    margin-left: 11px;

}

.img_2{
border-left: 1px solid black;
padding-left: 13px;
}

.img_3{
border-left: 1px solid black;
padding-left: 13px;
}