@font-face {
    font-family: gilroy;
    src: url(./fonts/Gilroy-Regular.ttf);
}
@font-face {
    font-family: antic;
    src: url(./fonts/Antic-Regular.ttf);
}

.header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-family: gilroy;
}

.menu_out{
    display: flex;
    border: 1px solid black;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    line-height: 40px;
    background-color: black;
    border-right: 0;
}

.menu_in{
    padding-left: 20px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    background-color: #F5FF7D;
}

.menu_top{
    display: flex;
}

.menu_out_middle{
    display: flex;
    border: 1px solid black;
    line-height: 40px;
    background-color: black;
    border-right: 0;
    border-left: 0;
}

.menu_in_middle{
    background-color: white;
}

.menu_out_end{
    display: flex;
    border: 1px solid black;
    line-height: 40px;
    background-color: black;
    border-left: 0;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.menu_in_end{
    background-color: white;
    padding-right: 20px;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
}

.top_area_title{
    font-family: Antic;
    font-size: 96px;
    color: black;
    text-shadow: 3px 5px #00000021;    
}